addict==2.4.0
altered_midas @ git+https://github.com/CCareaga/MiDaS@71a8ce21f95cb9e2a49493bb7b7269b40aabf51e
annotated-types==0.7.0
antialiased-cnns==0.3
anyio==4.12.1
attrs==23.1.0
av==16.1.0
beautifulsoup4==4.14.2
boto3==1.26.124
botocore==1.29.124
cachetools==6.2.4
certifi==2023.5.7
chardet==5.2.0
charset-normalizer==3.1.0
chrislib @ git+https://github.com/CCareaga/chrislib@9a4c63f5fc5e7bbe62288f2777c527b706eb04d0
click==8.1.3
ConfigArgParse==1.5.3
contourpy==1.3.0
cycler==0.12.1
dash==2.10.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
distro==1.9.0
djitellopy==2.5.0
et_xmlfile==2.0.0
exceptiongroup==1.3.1
fastjsonschema==2.17.1
filelock==3.12.0
Flask==2.2.5
fonttools==4.60.1
fsspec==2023.5.0
gdown==5.2.0
getch==1.0
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.41.1
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.3
googleapis-common-protos==1.72.0
h11==0.16.0
h5py==3.14.0
httpcore==1.0.9
httplib2==0.31.0
httpx==0.28.1
huggingface-hub==0.14.1
idna==3.4
ImageIO==2.37.2
importlib-metadata==6.7.0
importlib_resources==6.5.2
itsdangerous==2.1.2
Jinja2==3.1.2
jiter==0.12.0
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.17.3
jupyter_core==5.3.1
kiwisolver==1.4.7
kornia==0.8.2
kornia_rs==0.1.10
lazy_loader==0.4
MarkupSafe==2.1.2
matplotlib==3.8.4
mpmath==1.3.0
nbformat==5.7.0
networkx==3.1
numpy==1.26.4
oauthlib==3.3.1
openai==2.14.0
opencv-python==4.12.0.88
openpyxl==3.1.5
packaging==25.0
pandas==2.0.2
pillow==11.3.0
platformdirs==3.6.0
plotly==5.15.0
proto-plus==1.27.0
protobuf==6.33.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.12.5
pydantic_core==2.41.5
pynput==1.7.6
pyparsing==3.2.5
pyquaternion==0.9.9
pyrsistent==0.19.3
PySimpleGUI>=5.0.8.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2023.3
PyYAML==6.0
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
s3transfer==0.6.0
safetensors==0.3.1
scikit-image==0.24.0
scikit-learn==1.2.2
scipy==1.13.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
sympy==1.12
tenacity==8.2.2
threadpoolctl==3.1.0
tifffile==2024.8.30
timm==0.9.2
torch==2.1.2
torchvision==0.16.2
tqdm==4.67.1
traitlets==5.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2023.3
uritemplate==4.2.0
urllib3==1.26.15
Werkzeug==2.2.3
zipp==3.23.0
